.vscode/
.idea/
.DS_Store

# Python
.venv/
env/
venv/
__pycache__/
*.py[cod]
*$py.class
.ruff_cache

*.log
.env
*.sqlite3

# Garage object store
object-store/meta/*
object-store/data/*
!object-store/meta/.gitkeep
!object-store/data/.gitkeep

node_modules
*.zip
