asgiref==3.12.1
boto3==1.43.51
botocore==1.43.51
Django==6.0.7
django-cors-headers==4.9.0
django-outbox-pattern==3.1.0
django-storages==1.14.6
djangorestframework==3.17.1
docopt==0.6.2
jmespath==1.1.0
python-dateutil==2.9.0.post0
request-id-django-log==0.2.0
ruff==0.15.22
s3transfer==0.19.1
six==1.17.0
sqlparse==0.5.5
stomp.py==8.2.0
urllib3==2.7.0
websocket-client==1.9.0
